<form method="post" action="{{ path('app_checklist_delete', {'id': checklist.id}) }}" onsubmit="return confirm('Confirmez la suppression');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ checklist.id) }}">
    
    <div class='text-center'> 
        <button class="btn">SUPPRIMER</button>
    </div>
</form>
